body {
	font-family: 'Roboto', sans-serif;
	background-image: url("../images/background_2.png");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
}

.intro {
	text-align: left;
	padding: 22px;
}

img {
	border-radius: 50%;
}
/* .topnav {
	background-color: black;
	overflow: hidden;
} */